@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
body{
	font-family: 'Roboto', sans-serif !important;
}
a{
	color: #0099CC !important;
}
h1, h2, h3, h4 {
	font-weight: 400;
	/*text-transform: uppercase;*/
}